<table  align="center">
  <tbody>
   	<tr>
        <td align='center'>   <%= comment.commenter %></td>
     </tr>
     <tr> 
        <td  class ='fanc2'><h4><%= comment.body %></h4></td>
     </tr>
     <tr>
        <td class ='fanc'> <%= link_to 'Удалить Комментарий', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "button28"%></td>
   </tr> 
  </tbody>
</table>
<br>