<h3>Результаты поиска по запросу <em><%= params[:query]%></em></h3>
<% @search_results.each do |result| %>
  <h4><%= link_to result.login, user_posts_path(result.id) %></h4>
  <div><%= result.email.html_safe %></div>
  <hr>
<% end %>