<div class="panel panel-success">
  <%  @posts.each do |post| %>
  <div class="panel-heading">
  </div>
  <div class="panel-body">
   <h4> <%= post.text %></h4>
  </div>
  <div class ="panel-footer ">
    <%= link_to 'Просмотреть', post, class: "btn btn-default btn-sm"  %>
        <%= link_to 'Редактировать', edit_post_path(post), class: "btn btn-default btn-sm"  %>
        <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-sm" %>
  </div>
  <% end %>
</div>