<table border = '10px' width="100%">
  <tbody>
    <%  @posts.each do |post| %>
      <tr>
        <td class='text'><%= post.text %></td>
        </tr>
        <tr> 
        <td class ='fanc' ><%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
